/* CSS Document */
FONT {
	FONT: 12px Verdana,Arial,Helvetica,sans-serif
}
TH {
	FONT: 12px Verdana,Arial,Helvetica,sans-serif
}
TD {
	FONT: 12px Verdana,Arial,Helvetica,sans-serif
}
HR {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-BOTTOM: #ffffff 0px solid; HEIGHT: 0px
}
TD.cat {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img5.warez-bb.org/images/cellpic1.gif) #d9e2ec; COLOR: #516a88; TEXT-INDENT: 4px; LETTER-SPACING: 1px; HEIGHT: 29px
}
.row1 {
	BACKGROUND: #f4f6fb
}
.row2 {
	BACKGROUND: #e1e9f2
}
.row3 {
	BACKGROUND: #F3F466
}
.row4 {
	BACKGROUND: #F7F99C
}
.row5 {
	BACKGROUND: #FFFFFF
}
TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND:url(cellpic3.gif) #c6d3e4; COLOR: #516a88; WHITE-SPACE: nowrap; HEIGHT: 27px; TEXT-ALIGN: center
}
.forumline {
	BORDER-RIGHT: #486386 1px solid; BORDER-TOP: #486386 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #486386 1px solid; BORDER-BOTTOM: #486386 1px solid
}
